# terraform apply -var-file="dev.tfvars"

docker_username  = "dockerhub-user"
app_image_tag    = "latest"    #latest version to testing
nginx_image_tag  = "latest"
replicas_backend = 1  
grafana_admin_user     = "admin"
grafana_admin_password =
alert_email_receiver =
alert_email_sender   = 
alert_email_password =