# terraform apply -var-file="staging.tfvars"

docker_username  = "dockerhub-user"
app_image_tag    = "v1"         #tested version
nginx_image_tag  = "v1"
replicas_backend = 3
grafana_admin_user     = "admin"
grafana_admin_password =
alert_email_receiver =
alert_email_sender   = 
alert_email_password =